nav.nav-container
  .center
    ul.main-nav
      li
        a(href="#").active home

      li.dropdown
        button.toggle Services
        ul.content
          li
            a(href="#") Services 1
          li
            a(href="#") Services 2
          li
            a(href="#") Services 3

      li.dropdown
        button.toggle About Us
        ul.content
          li
            a(href="#") About Us 1
          li
            a(href="#") About Us 2
          li
            a(href="#") About Us 3

      li.dropdown
        button.toggle pages
        ul.content
          li
            a(href="#") page 1
          li
            a(href="#") page 2
          li
            a(href="#") page 3

      li
        a(href="#") Tesmonials

      li.dropdown
        button.toggle Blog
        ul.content
          li
            a(href="#") Blog 1
          li
            a(href="#") Blog 2
          li
            a(href="#") Blog 3

      li
        a(href="#") Contact Us

    .show-mobile
      div.phone-number-btn
        a(href="tel:18004567890").phone
          span.text call us now
          span.number 1800 456 7890
        a.btn Book Appointment

